<h1>Wikis</h1>

<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.name, wiki %>
          </h4>
          <small>
            <%= wiki.description %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if policy(@wikis).new? %>
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
    <% end %>
  </br>
  </br>
    <% if current_user != nil %>
      <% if current_user.premium %>
        Thank you for your support, premium user!
      <% else %>
        Want to support the site and be able to make private wikis? 
        <%= link_to "Go Premium!", new_charge_path, class: 'btn btn-success' %>
      <% end %>
    <% else %>
      Sign up to create and edit your own wikis!
    <% end %>
  </div>
</div>
